<html>
  <head>
    <title>Certificate manager - Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Email" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      <br> 
      <p> To connect using a certificate, please import your certificate in your 
        browser and click on the following link: <a href="/cert-login">Login with certificate</a></p>
      <br>
      <p> Administrator login with certificate: <a href="/admin-interface">here.</a></p>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>