$ModLoad imuxsock # local messages
$ModLoad imtcp # load TCP listener

# make gtls driver the default
$DefaultNetstreamDriver gtls

# certificate files
$DefaultNetstreamDriverCAFile /etc/rsyslog.d/ssl/certs/cacert.pem
$DefaultNetstreamDriverCertFile /etc/rsyslog.d/ssl/certs/backup-server.crt
$DefaultNetstreamDriverKeyFile /etc/rsyslog.d/ssl/private/backup-server.key

$InputTCPServerStreamDriverMode 1 # run driver in TLS-only mode
$InputTCPServerStreamDriverAuthMode anon # client is NOT authenticated
$InputTCPServerRun 10514 # start up listener at port 10514
