$ModLoad imtcp
$InputTCPServerRun 514

$AllowedSender TCP, 127.0.0.1, 10.0.0.0/24

# make gtls driver the default
$DefaultNetstreamDriver gtls

# certificate files
$DefaultNetstreamDriverCAFile /etc/rsyslog.d/ssl/certs/cacert.pem
$DefaultNetstreamDriverCertFile /etc/rsyslog.d/ssl/certs/logging-server.crt
$DefaultNetstreamDriverKeyFile /etc/rsyslog.d/ssl/private/logging-server.key

$InputTCPServerStreamDriverMode 1 # run driver in TLS-only mode
$InputTCPServerStreamDriverAuthMode anon # client is NOT authenticated

$template remote-incoming-logs, "/var/log/%HOSTNAME%/%PROGRAMNAME%.log" 
*.* ?remote-incoming-logs
