[mariadb]
ssl_ca = /etc/mysql/ssl/certs/cacert.pem 
ssl_cert = /etc/mysql/ssl/certs/mysql-server.crt 
ssl_key = /etc/mysql/ssl/private/mysql-server.key
require_secure_transport = on
tls_version = TLSv1.3

